/* Modal */
/* .modal{
    position: fixed;
    z-index: 999;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}
.modal-content{
    position: relative;
}
.modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.modal-close svg{
    width:2.4rem;
    height: 2.4rem;
    fill: var(--second-alpha-color);
}
.modal[id|="login"]:target{
    opacity: 1;
    pointer-events: auto;
}
.modal[id|="signup"]:target{
    opacity: 1;
    pointer-events: auto;
}
.modal[id|="user-mob"]:target{
    opacity: 1;
    pointer-events: auto;
}
.all-modal{
    
    padding: 1.5rem;
    width: 90vw;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.all-modal h3{
    border-bottom: medium solid var(--first-color);
    margin: 1rem auto;
    padding: .5rem 0;
    color: black;
}
 */
/* Login inputs */
.login-form .i-login {
  position: relative;
  margin: 35px 5px;
}

.i-login input {
  background: none;
  color: #c6c6c6;
  font-size: 15px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  /* border-top: 1px solid #49454567; */
  border-bottom: 1px solid #49454567;
}

.i-login input:focus {
  outline: none;
  color: #5e5d5d;
}

.barra {
  position: relative;
  display: block;
  width: 100%;
}

.barra::before {
  content: "";
  height: 2px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: linear-gradient(
    to right,
    var(--second-alpha-color),
    var(--first-color)
  );
  transition: 0.3s ease width;
  left: 0;
}

.i-login input:focus ~ .barra::before {
  width: 100%;
}

.warnings {
  width: 200px;
  text-align: center;
  margin: auto;
  color: #b06ab3;
  padding-top: 20px;
}

.start {
  /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    hsl(238, 45%, 59%, 0.8),
    hsl(37, 99%, 61%, 0.8)
  );
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    hsl(238, 45%, 59%, 0.8),
    hsl(37, 99%, 61%, 0.8)
  );
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  display: block;
  width: 80%;
  margin: 10px auto;
  color: black;
  font-weight: bold;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s ease-in;
}
.start:hover {
  background: linear-gradient(
    to right,
    hsl(238, 45%, 59%, 0.9),
    hsl(37, 99%, 61%, 0.9)
  );
  color: white;
}

/* User icon btn */
.mobs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.btn-mob-1,
.btn-mob-2 {
  padding: 0.5rem;
  border-radius: 10px;
  margin: 1rem;
  width: 40%;
  font-size: 12px;
  font-weight: bold;
  border: none;
}
.btn-mob-1 {
  background: hsl(238, 45%, 59%, 0.9);
  color: white;
}
.btn-mob-2 {
  background: hsl(37, 99%, 61%, 0.9);
}

@media screen and (min-width: 768px) {
  .login-modal {
    width: 60vw;
  }
  .start {
    width: 50%;
  }
}

/* <<<<<<< HEAD
@media screen and (min-width: 1024px) {
  .all-modal {
    width: 50vw;
  }
}
=======
@media screen and (min-width:1024px){
    .all-modal{
        width: 35vw;
    }
} */
