.loginBtn {
    background: transparent;
    border: 2px solid var(--second-alpha-color);
    font-weight: bold;
    padding: 0 0.8rem;
    border-radius: 3rem;
    transition: 0.2s ease-in-out;
  }

  .signBtn {
    background: var(--second-alpha-color);
    border: 2px solid var(--second-alpha-color);
    color: var(--white-color);
    padding: 0 0.8rem;
    border-radius: 3rem;
    transition: 0.2s ease-in-out;
  }